[submodule "bundles/gundo"]
	path = bundles/gundo
	url = git://github.com/sjl/gundo.vim
	ignore = dirty
[submodule "bundles/vim-surround"]
	path = bundles/vim-surround
	url = git://github.com/tpope/vim-surround
	ignore = dirty
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree
	ignore = dirty
[submodule "bundles/vim-indent-guides"]
	path = bundles/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides
	ignore = dirty
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
	ignore = dirty
[submodule "bundles/vim-localrc"]
	path = bundles/vim-localrc
	url = git://github.com/thinca/vim-localrc
	ignore = dirty
[submodule "bundles/vim-unimpaired"]
	path = bundles/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired
	ignore = dirty
[submodule "bundles/tabular"]
	path = bundles/tabular
	url = git://github.com/godlygeek/tabular
	ignore = dirty
[submodule "bundles/ghcmod-vim"]
	path = bundles/ghcmod-vim
	url = git://github.com/eagletmt/ghcmod-vim
	ignore = dirty
[submodule "bundles/neco-ghc"]
	path = bundles/neco-ghc
	url = git://github.com/ujihisa/neco-ghc
	ignore = dirty
[submodule "bundles/vim-json"]
	path = bundles/vim-json
	url = git://github.com/leshill/vim-json
	ignore = dirty
[submodule "bundles/vim-powerline"]
	path = bundles/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline
	ignore = dirty
[submodule "bundles/jinja"]
	path = bundles/jinja
	url = git://github.com/vim-scripts/Jinja
	ignore = dirty
[submodule "bundles/tagbar"]
	path = bundles/tagbar
	url = git://github.com/vim-scripts/Tagbar
	ignore = dirty
[submodule "bundles/vim-ps1"]
	path = bundles/vim-ps1
	url = git://github.com/PProvost/vim-ps1.git
	ignore = dirty
[submodule "bundles/vim-puppet"]
	path = bundles/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
	ignore = dirty
[submodule "bundles/mustache"]
	path = bundles/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
	ignore = dirty
[submodule "bundles/vim-javascript"]
	path = bundles/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "bundles/vim-dispatch"]
	path = bundles/vim-dispatch
	url = git://github.com/tpope/vim-dispatch
	ignore = dirty
[submodule "bundles/syntastic"]
	path = bundles/syntastic
	url = https://github.com/scrooloose/syntastic
	ignore = dirty
[submodule "bundles/ctrlp"]
	path = bundles/ctrlp
	url = https://github.com/kien/ctrlp.vim
	ignore = dirty
[submodule "bundles/omnisharp"]
	path = bundles/omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim
	ignore = dirty
[submodule "bundles/rust.vim"]
	path = bundles/rust.vim
	url = https://github.com/wting/rust.vim
	ignore = dirty
[submodule "bundles/vim-niji"]
	path = bundles/vim-niji
	url = git://github.com/amdt/vim-niji.git
	ignore = dirty
